<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36147478846-5rdhtka4rj54oal6ej7i1rbdpps154cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36147478846-5rdhtka4rj54oal6ej7i1rbdpps154cm</string>
	<key>API_KEY</key>
	<string>AIzaSyCuBrHXRVVHGtjGhnCY23HjmRWd6ivPpII</string>
	<key>GCM_SENDER_ID</key>
	<string>36147478846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soka.Flashiest-App</string>
	<key>PROJECT_ID</key>
	<string>flashiestapp-76b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>flashiestapp-76b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36147478846:ios:5695fb03d4d3772e</string>
	<key>DATABASE_URL</key>
	<string>https://flashiestapp-76b4a.firebaseio.com</string>
</dict>
</plist>